

* {
    margin: 0;
    padding: 0;
   }




body {
    background-color: indianred;
}
.menu-bar {
    display:flex;
    flex-direction: row;
    
    background-color:crimson;
    width: auto;
}
    
.heading {
    flex:1 0 2px;
    color:mediumaquamarine;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

    

.logo {
    height: 32px;
    width: 60px;
    padding:5px
   
   align-self: center;
 
   
}
.link-directory {
    align-items: center;
    padding-right: 30px;
    flex:0 1 auto;
    font-size: 40px;
    
    
}
.link-directory a {
    color:lavender;
    text-decoration: none;
}