

* {
    margin: 0;
    padding: 0;
    width:100%;

   }




body {
    background-color:rebeccapurple;
}
.menu-bar {
    display:flex;
    flex-direction: row;
    background-color:crimson;
    width: auto;
    justify-content: right;
    align-items: flex-end;
    overflow: hidden;
    white-space: nowrap;
}
    
.heading {
    flex:1 0 2px;
    color:mediumaquamarine;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-self: center;
    margin-right: auto;
}

    

.logo {
    height: 32px;
    width: 60px;
    padding:5;
   
   align-self:center;
   margin-right: auto;
 
   
}
.link-directory {
    
    flex:0 1 auto;
    font-size: 40px;
    padding:3px;
    font-family:'Garamond';
    gap: 10cm;
    margin-left:auto;
    text-align: right;
    margin-right: 0.6cm;

    
}
.link-directory a {
    color:plum;
    text-decoration: none;
    padding-left: 0.25cm;
    padding-right: 0.25cm;
    
}
.link-directory a:hover {
    color:cadetblue;
    background-color:coral;

}

.below-menu {
    display:flex;


    
}
.main-img {
    height:100%;
    width:100%;
    padding-left: 5vw;
    padding-right:10vw;
   
    
    
}